.for-background{background-image: url(images/donation6.jpg);
background-size: 100%;
height: 700px;
background-repeat: no-repeat;
}
.for-font-size{

font-size: 50px;
text-align: center;
color: white;
}
p{
color: white;

}
button{text-align:center;color: crimson;}

.for-2nd-part{
text-align: center;
color: black;
}
.for-various-value{

display:flex;

}
.for-value{


    border: 5px;
    padding: 5%;
}
#special-value{   
border:2px solid red;
color: orange;


}
#second-last-part{

text-align: center;

color: black;
}
.link-button{

text-decoration: none;
background-color: orange;
padding: 1px 1px;
border-radius: 2px;
text-align: center;
}
h1{text-align: center;}

.for-paragraph{
    text-align: center;
    color: black;
}

.white-black{

color: black;

}
.last-things{

display:flex;
margin: 20px;

}
.first{

background-color: brown;
margin-right: 20px;
}
.second{

background-color: darkgoldenrod;
margin-right: 20px;
}
.third{


background-color: darksalmon;


}
footer{

background-image: url(images/ltF2UM.jpg);
background-size: 160%;
height: 130px;
background-repeat: no-repeat;

}
.finish{
    font-style: italic;
    color: brown;
    text-align: center;
}
.bonus{

color:black;
text-align: center;
font-family: "Trirong", serif;
}
.for-center{
text-align: center;

}










